@CHARSET "UTF-8";
body{
    width: 50%;
    margin: auto;
}

h1{
    width: 40%;
    margin: auto;
    font-size: 3.6em;
    margin-top: 0.5em;
}
#score{
    width: 40%;
    margin: auto;
    font-size: 1.5em;
}
p{
    margin: 0.5em;
    display: inline-block;
}

#board{
    width: 30%;
    position: absolute;
    margin-left: 200px;
}
#board > div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: absolute;
}